name: DCO

on:
  pull_request:
    branches: [main]

jobs:
  dco:
    name: DCO Check
    runs-on: ubuntu-latest
    steps:
      - name: Check DCO
        uses: tim-actions/dco@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
